.hamburger-button{
  all: unset;
  /* display: block; */
  width: 2em;
  background-color: transparent;
  cursor: pointer;
}
.icon-bar {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: all 0.5s ease 0s;
  }
  
  .icon-bar:nth-child(2) {
    width: 80%;
  }
  
  .change-hamburger .icon-bar:first-child {
    -webkit-transform: translate(-0em, 0.55em) rotate(-45deg);
    transform: translate(-0em, 0.55em) rotate(-45deg);
  }
  
  .change-hamburger .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  .change-hamburger .icon-bar:last-child {
    -webkit-transform: translate(-0em, -0.55em) rotate(45deg);
    transform: translate(-0em, -0.55em) rotate(45deg);
  }