.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.navbar > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

.avatar {
  border-radius: 50%;
}
