body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App {
  --primary-color: rgb(40,40,40);
  --secondary-color: rgb(30,30,50);
  --text-color: rgb(200,200,200);
  --shadow-color: rgb(50,50,70);

  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-flex{
  display: flex;
}
.space-between{
  justify-content: space-between;
}

button{
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover{
  background-color: var(--text-color);
  color: var(--secondary-color);
}

button:active{
  box-shadow: inset 1px 1px 1px 1px var(--secondary-color);
  /* color: var(--text-color); */
}